<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Inmobiliaria Net</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Inmobiliaria.styles.css" asp-append-version="true" />
    <style>
      /* Estilos CSS */
      body{
        background-image: url("https://us.123rf.com/450wm/brahmapootra/brahmapootra1206/brahmapootra120600026/14085310-fondo-floral-hermoso-con-las-plantas-y-las-hojas.jpg?ver=6");
        }
    </style>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Inmobiliaria</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                @if(!User.Identity.IsAuthenticated)
                {
                    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                        <a class="nav-link" asp-area="" asp-controller="Usuario" asp-action="login">Acceder</a>
                    </div>
                }else{
                    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                                <a class="nav-link " asp-area="" asp-controller="Inquilino" asp-action="Index"><i class="fa-solid fa-person"></i>&nbsp; Inquilinos</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link " asp-area="" asp-controller="Propietario" asp-action="Index"><i class="fa-solid fa-address-book"></i>&nbsp; Propietarios</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link " asp-area="" asp-controller="Inmueble" asp-action="Index"><i class="fa-solid fa-building"></i>&nbsp; Inmuebles</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link " asp-area="" asp-controller="Contratos" asp-action="Index"><i class="fa-solid fa-file-signature"></i>&nbsp; Contratos</a>
                            </li>
                            @if(User.IsInRole("Administrador"))
                            {
                                <li class="nav-item">
                                    <a class="nav-link " asp-area="" asp-controller="Usuario" asp-action="Index"><i class="fa-solid fa-user-tie"></i>&nbsp; Usuarios</a>
                                </li>
                            }
                        </ul>
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                @User.Identity.Name
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                <li><a class="dropdown-item text-dark" asp-controller="Usuario" asp-action="Perfil"><i class="fa-regular fa-user"></i>&nbsp; Perfil</a></li>
                                <li><a class="dropdown-item text-dark" asp-controller="Usuario" asp-action="Logout"><i class="fa-sharp fa-solid fa-right-from-bracket"></i>&nbsp; Salir</a></li>
                            </ul>
                        </div>
                    </div>
                }
                
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main " class="pb-3 shadow p-3 mb-5 bg-body-tertiary rounded mt-4" >
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted" id="footer">
        <div class="container">
            &copy; 2023 - Inmobiliaria - Diego Martin Diaz
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://kit.fontawesome.com/05e35e8e14.js" crossorigin="anonymous"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
