@model Inmobiliaria.Models.Contrato

@{
    ViewData["Title"] = "Create";
    var listaInquilinos = (List<Inquilino>)ViewBag.Inquilinos;
    var listaInmuebles = (List<Inmueble>)ViewBag.Inmuebles;
}

<h1>Create</h1>

<h4>Contrato</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Desde" class="control-label"></label>
                <input asp-for="Desde" class="form-control" />
                <span asp-validation-for="Desde" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Hasta" class="control-label"></label>
                <input asp-for="Hasta" class="form-control" />
                <span asp-validation-for="Hasta" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Mensualidad" class="control-label"></label>
                <input asp-for="Mensualidad" class="form-control" />
                <span asp-validation-for="Mensualidad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Propietario</label>
                <select name="InmuebleId" class="form-control">
                    @foreach (var item in listaInmuebles)
                    {
                        <option value="@item.Id">@item.Id</option>
                    }
                </select>
                <span asp-validation-for="InmuebleId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Propietario</label>
                <select name="InquilinoId" class="form-control">
                    @foreach (var item in listaInquilinos)
                    {
                        <option value="@item.Id">@item.ToString()</option>
                    }
                </select>
                <span asp-validation-for="InquilinoId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

