@model IEnumerable<Inmobiliaria.Models.Contrato>

@{
    ViewData["Title"] = "Contratos";
    IList<Inmueble> inmuebles = (IList<Inmueble>) ViewBag.Inmuebles;
    IList<Inquilino> inquilinos = (IList<Inquilino>) ViewBag.Inquilinos;
}

<h1>Lista de contratos</h1>
