@{
    ViewData["Title"] = "Inicio";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido a Inmobiliaria NET!</h1>
    @if(User.Identity.IsAuthenticated)
    {
        <p>Ya puedes comenzar a operar!</p>
    }else
    {
        <p>Inicia sesión para navegar por la aplicación.</p>
    }
    
</div>
