@model Inmobiliaria.Models.Inquilino

@{
    ViewData["Title"] = "Inquilino";
}

<div>
    <a asp-action="Index" style="text-decoration: none;"><i class="fa-solid fa-arrow-left"></i> Volver a la lista</a>
</div>
<h3>Editar inquilino</h3>
<hr>

@if(ViewBag.Exito == 1){
    <div class="alert alert-info alert-dismissible" role="alert">
       <div>@ViewBag.Mensaje</div>
       <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}else if(ViewBag.Exito == 0){
    <div class="alert alert-danger alert-dismissible" role="alert">
       <div>@ViewBag.Mensaje</div>
       <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

<form asp-action="Edit">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="Apellido" class="control-label"></label>
                <input asp-for="Apellido" class="form-control" />
                <span asp-validation-for="Apellido" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Dni" class="control-label"></label>
                <input asp-for="Dni" class="form-control" />
                <span asp-validation-for="Dni" class="text-danger"></span>
            </div>
            
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="Telefono" class="control-label"></label>
                <input asp-for="Telefono" class="form-control" />
                <span asp-validation-for="Telefono" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Correo" class="control-label"></label>
                <input asp-for="Correo" class="form-control" />
                <span asp-validation-for="Correo" class="text-danger"></span>
            </div>
            <div class="form-group form-check" style="margin-top: 30px;">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Estado" /> @Html.DisplayNameFor(model => model.Estado)
                </label>
            </div>
        </div>
    </div>
    <div class="form-group text-center mt-4">
        <button type="submit" class="btn btn-primary" ><i class="fa-solid fa-floppy-disk" style="color: #ffffff;"></i> Guardar</button>
    </div>
</form>
