@model Inmobiliaria.Models.Usuario

@{
    ViewData["Title"] = "Creacion de Usuarios";
}

<h2>Ingresa los datos del nuevo empleado</h2>

<hr />
<form asp-action="Create" enctype="multipart/form-data">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="row">
        <div class="col-md-4">
            
            <div class="form-group">
                <label asp-for="Correo" class="control-label"></label>
                <input asp-for="Correo" class="form-control" />
                <span asp-validation-for="Correo" class="text-danger"></span>
            </div>
            <div class="form-group mt-3">
                <label asp-for="Clave" class="control-label"></label>
                <input asp-for="Clave" class="form-control" />
                <span asp-validation-for="Clave" class="text-danger"></span>
            </div>          
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="form-group mt-3">
                <label asp-for="Apellido" class="control-label"></label>
                <input asp-for="Apellido" class="form-control" />
                <span asp-validation-for="Apellido" class="text-danger"></span>
            </div>
            <div class="form-group mt-3">
                <label asp-for="Dni" class="control-label"></label>
                <input asp-for="Dni" class="form-control" />
                <span asp-validation-for="Dni" class="text-danger"></span>
            </div>
            <div class="form-group mt-3">
                <label asp-for="Telefono" class="control-label"></label>
                <input asp-for="Telefono" class="form-control" />
                <span asp-validation-for="Telefono" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="AvatarFile" class="control-label"></label>
                <input asp-for="AvatarFile" type="file" id="formFile" class="form-control"/>
                <span asp-validation-for="Avatar" class="text-danger"></span>
            </div>
            <div class="form-group mt-3">
                <label asp-for="Rol" class="control-label"></label>
                <select name="Rol" class="form-control">
                    @foreach (var item in (IDictionary<int,string>)ViewBag.Roles)
                    {
                        <option value="@item.Key">@item.Value</option>
                    }
                </select>
                <span asp-validation-for="Rol" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="text-center mt-4">
        <button type="submit" class="btn btn-primary">Create</button>
    </div>
    
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

